:root {
	--white: #FFF;
	--green: #00966E;
	--red: #D62612;
}
body { background: linear-gradient(180deg, #fff5f0, #a0d48c, #ff5c5c); }
		
.header h1 { text-shadow: 2px 2px 4px var(--red); }

.nav ul{ background-color: var(--white); }	

.nav li a { color: var(--green); }
	
.nav a:hover:not(.active) {
	background-color:  var(--green);
	color: var(--white);
}	
	
.nav ul li a.active {
	background-color: var(--red);
	color: var(--white);
}

.introduceSection {	background-image: url("../bulgaria/images_bulgaria/bulgaria_home1.jpg"); }	
	
.introduceSection p { background: rgba(0,0,0,0.5); }

.article_content .gallery img:hover { box-shadow: 2px 2px 3px var(--white); }

article.white { border: 2px solid var(--white); }

article.green { border: 2px solid var(--green); }

article.red { border: 2px solid var(--red); }
	
.introMainSection_column .fact { border-left: 5px solid var(--red); }	

.introMainSection_column .fact:hover { box-shadow: 2px 2px 3px var(--red); }

.introMainSection_column .button { color: var(--white); }

.introMainSection_column .button:hover{
	border-color: var(--green);
	background-color: var(--white);
	color:  #CD212A;
}
		
.footer{	
	background-color: var(--white);
	color: var(--green);
}

.monuments_food_cont a {
	color: var(--white);
	background-color: var(--green);
}

.monuments_food_cont a:hover { background-color: var(--red); }	

.factSection .fact {
	background-color: #FFC9A5;
	border-left: 5px solid var(--white);
}

.factSection .fact.white { border-left-color: var(--white); }
	
.factSection .fact.green { border-left-color: var(--green); }
	
.factSection .fact.red { border-left-color: var(--red); }
	
.factSection .fact strong { color: var(--white); }
	
.factSection .fact.green strong { color: var(--green); }

.factSection .fact.red strong { color: var(--red); }

.comment_container .comment_card { border: 1px solid var(--green); }

.addCommentSection .addButton, .addCommentSection .sendButton {
	border: 2px outset var(--green);
	padding: 10px;
	background-color: var(--green);
	color: var(--white);
}
	
.addCommentSection .addButton:hover, .addCommentSection .sendButton:hover {
	border: 2px inset var(--red);
	color: var(--red);
	background-color: var(--white);
}

.addCommentSection .logIn{ color: var(--green); }

.addCommentSection .logIn:hover { color: var(--white); }
	
.loginSection a {	
	border:2px solid var(--green);
	color: var(--white);
	background-color: var(--green);
}

.loginSection form {
	border-color: var(--red);
	color: var(--red);

}

.loginSection input[type=text]:focus, .loginSection input[type=password]:focus {
	border: 2px solid var(--red);
	box-shadow: 5px 8px var(--red);
}
	
.loginSection .logIn { background-color: var(--red); }
	
.signUpSection a { color: var(--red); }
	
.signUpSection form {
	border-color: var(--green);
	color: var(--green);
}
	
.signUpSection form input { border: 1px solid var(--green); }

.signUpSection input[type=text]:focus, .signUpSection input[type=password]:focus {
	border: 2px solid red;
	box-shadow: 5px 8px var(--green);
}

.signUpSection .signUp{
	background-color: var(--green);
	color: var(--white);
}
	
.signUpSection .spanErr{ color: #C8102E; }

