:root {
	--green: #060;
	--red: #F00;
	--yellow: #FF0;
	--white: #FFF;
}

body { background: linear-gradient(180deg, #a8d6a8, #ffd9b3, #d99a9a); }
		
.header { background-image: url("../portugal/images_portugal/portugal_flag.png"); }

.header h1 { text-shadow: 2px 2px 4px var(--green); }

.nav ul{ background-color: var(--green);	}	

.nav li a { color: var(--white); }

.nav a:hover:not(.active) {
	background-color: var(--red);
	color: var(--white);
}	

.nav ul li a.active {
	background-color: var(--yellow);
	color: var(--red)
}
	
.introduceSection {	 background-image: url("../portugal/images_portugal/portugal_home.jpeg"); }		

.introduceSection p {
	background: rgba(0,0,0,0.25); 
	color: white;
}
	
.introMainSection_row .gallery img:hover { box-shadow: 2px 2px 3px var(--green); }

.introMainSection_row .fact { 
	border-left: 5px solid var(--red); 
	margin: 2px;
}

.introMainSection_row .fact:hover { box-shadow: 2px 2px 3px var(--red); }
	
.introMainSection_row .button { color: var(--green); }

.introMainSection_row .button:hover{
	border: 2px inset var(--green);
	background-color: var(--white);
	color:  var(--red);
}

article.green { border: 2px solid var(--green); }

article.red { border: 2px solid var(--red); }	
	
.footer{	
	background-color: var(--green);
	color: var(--white);
}

.monuments_food_cont a {
	color: var(--white);
	background-color: var(--green);
}

.monuments_food_cont a:hover { background-color: var(--red); }	

.tripMainSection .fact {
	background-color:#fff7f2;
	border-left: 5px solid var(--white);
}

.tripMainSection .fact.green { border-left-color: var(--green); }
	
.tripMainSection .fact.red { border-left-color: var(--red); }
	
.tripMainSection .fact strong { color: var(--green); }
	
.tripMainSection .fact.red strong { color: var(--red); }

.comment_container .comment_card { border: 1px solid var(--green); }

.addCommentSection .addButton, .addCommentSection .sendButton {
	border: 2px outset var(--red);
	padding: 10px;
	background-color: var(--red);
	color: var(--white);
}
	
.addCommentSection .addButton:hover, .addCommentSection .sendButton:hover { background-color: var(--green); }

.addCommentSection .logIn{ color: var(--red); }
	
.addCommentSection .logIn:hover{ color: var(--green); }
		
.loginSection a {
	background-color: var(--red);
	color: var(--white);
}
	
.loginSection form {
	border: 3px outset var(--green);
	color: var(--green);
}

.loginSection input[type=text]:focus, .loginSection input[type=password]:focus {
	border: 2px solid red;
	box-shadow: 5px 8px var(--green);
}
	
.loginSection .logIn{
	background-color: var(--green);
	color: var(--white);		
}

.signUpSection a { color: var(--green); }
	
.signUpSection a:hover { color: var(--red); }

.signUpSection form {
	border: 3px outset var(--red);
	color: var(--red);
}
	
.signUpSection form input { border: 1px solid var(--green); }

.signUpSection input[type=text]:focus, .signUpSection input[type=password]:focus {
	border: 2px solid var(--red);
	box-shadow: 5px 8px var(--red);
}

.signUpSection .signUp{
	background-color: var(--red);
	color: var(--white);
}
	
.signUpSection .spanErr{ color: var(--green); }

