:root {
	--red: #C60C30;
	--white: #FFF;
	--pink: #F66;
}

body { background: linear-gradient(135deg, #c84747, #fafafa); }
		
.header h1 { text-shadow: 2px 2px 4px var(--red); }

.nav ul{ background-color:  var(--white); }	
	
.nav li a {	 color: var(--red); }
	
.nav a:hover:not(.active) {
	background-color: var(--red);
	color: var(--white);
}	
	
.nav ul li a.active {
	background-color: var(--pink);
	color: var(--white);
}
		
.introduceSection { background-image: url("../denmark/images_denmark/denmark_home3.jpg"); }	
		
.introMainSection {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 1fr 2fr;
	gap: 30px;
	margin: 20px;
}
	
.introMainSection article {
	border-radius: 0;
	border: 2px solid;
}
	
.introMainSection h3 {
	text-align: center;
	font-family: Lucida Handwriting;
	margin-bottom: 15px;
}
	
.article_content .gallery img:hover { box-shadow: 2px 2px 3px var(--red)0; }

.introMainSection .fact {
	background: linear-gradient(180deg, #f9f9f9, #e0e0e0);
	border-left: 5px solid var(--red);
	
	margin: 4px 5px;
	flex: 1;
	padding: 15px;
	border-radius: 15px;
	text-align: justify;
			
	display: flex;
	flex-direction: column;
	gap: 10px;
}
	
.introMainSection .fact:hover { box-shadow: 2px 2px 3px var(--red); }	
	
.introMainSection .button {
	border: none;
	color: var(--red); 
}
	
.introMainSection .button:hover{
	border: 2px inset var(--red);
	background-color: var(--white);
	color:  var(--red);
}
		
.footer{	
	background-color: var(--white);
	color: var(--red);
}
.monuments_food_cont article {
	border: 2px solid;
	border-radius: 0;
}

.monuments_food_cont a {
	color: var(--white);
	background-color: var(--red);
}

.monuments_food_cont a:hover {
	color: var(--red);
	background-color: var(--white);
	border: 2px solid var(--red);
}	

.tripMainSection {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 20px;
	margin: 10px;
}

.tripMainSection article {
	border: 2px solid;
	border-radius: 0;
}

.tripMainSection h3 {
	text-align: center;
	font-family: Lucida Handwriting;
}

.tripMainSection .factSection {
	display: flex;
	flex-direction: row;
	
}

.tripMainSection .fact {
	flex: 1;
	
	background-color: #f1f1f1;
	padding: 14px 18px;
	border-radius: 12px;
	border-left: 5px solid var(--red);
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 1.6;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);	
	margin: 10px;
	
}
.tripMainSection .fact:hover { 
	transform: translateY(-5px); 
	box-shadow: 0 8px 20px rgba(0,0,0,0.15); 
	transition: 0.3s; 
}

.tripMainSection .fact strong {
	display: block;
	margin-top: 10px;
	color: var(--red);
	font-weight: bold;
}
article.one { border-color:var(--red) var(--white) var(--white) var(--red); }

article.two { border-color: var(--red) var(--red) var(--white) var(--white); }

article.three { border-color: var(--white) var(--white) var(--red) var(--red); }

article.four { border-color: var(--white) var(--red) var(--red) var(--white); }

article.five { border-color: var(--red) var(--red) var(--white); }

article.six { border-color: var(--white) var(--red) var(--red); }	

article.seven { border-color: var(--red) var(--white) var(--red) var(--red); }

article.eight { border-color: var(--red) var(--red) var(--red) var(--white); }	

.comment_container .comment_card { border: 1px solid var(--red); }

.addCommentSection .addButton, .addCommentSection .sendButton {
	border: 2px outset var(--red);
	padding: 10px;
	background-color: var(--red);
	color: var(--white);
}
	
.addCommentSection .addButton:hover, .addCommentSection .sendButton:hover {
	border: 2px inset var(--red);
	color: var(--red);
	background-color: var(--white);
}

.addCommentSection .logIn{ color: var(--red); }
	
.addCommentSection .logIn:hover{ 
	border: 2px solid var(--white); 
	padding: 5px;
}
	
.loginSection a {
	border:2px solid var(--red);
	color: var(--red);
}

.loginSection a:hover {
	background-color: var(--red);
	color: var(--white);
}
	
.loginSection form {
	border: 3px outset var(--red);
	color: var(--red);
}
	
.loginSection input[type=text]:focus, .loginSection input[type=password]:focus {
	border: 2px solid var(--red);
	box-shadow: 5px 8px var(--red);
}
	
.loginSection .logIn{
	background-color: var(--red);
	color: var(--white);
}
	
.signUpSection a { color: #C8102E; }

.signUpSection form {
	border: 3px outset #C8102E;
	color: #E1000F;
}
	
.signUpSection form input { border: 1px solid #C8102E; }

.signUpSection input[type=text]:focus, .signUpSection input[type=password]:focus {
	border: 2px solid red;
	box-shadow: 5px 8px #C8102E;
}

.signUpSection .signUp{
	background-color: #C8102E;
	color: white;
}
	
.signUpSection .spanErr{ color: #C8102E; }

@media (max-width: 600px) {
	.introduceSection { margin: 10px auto; }
	
	.introMainSection { 
		display: flex; 
		flex-direction: column; 
	}
	.article_content { flex-direction: column; }
	
	
	.introMainSection .fact:hover { transform: scale(1.05); }
	
	.monuments_food_cont { 
		display: flex;	
		flex-direction: column;	
	}
	
	.tripMainSection { 
		display: flex;
		flex-direction: column;
	}
	
	.tripMainSection .factSection { flex-direction: column;}
	
	.loginSection form { width: 90%; }
	
	.signUpSection form {width: 90%; }

}