:root {
	--green: #008C45;
	--white: #F4F5F0;
	--red: #CD212A;
}

body { background: linear-gradient(180deg, #d6f0d6, #ffffff, #ffe5e5); }
		
.header { background-image: url("../italy/images_italy/italy_flag.jpg"); }

.nav ul{ background-color: var(--green); }	
	
.nav li a { color: var(--white); }
	
.nav a:hover:not(.active) {
	background-color: var(--red);
	color: var(--white);
}	
	
.nav ul li a.active {
	background-color: var(--white);
	color: var(--red);
}

.introduceSection {	background-image: url("../italy/images_italy/italy_home1.jpg"); }		
	
.introduceSection p { color: var(--white); }
	
.introMainSection_row .gallery img:hover { box-shadow: 2px 2px 3px var(--green); }

article.green { border: 2px solid var(--green); }

article.white { border: 2px solid var(--white) }

article.red { border: 2px solid var(--red); }	
	
.introMainSection_row .fact { 
	border-left: 5px solid var(--red); 
	margin: 2px;
}

.introMainSection_row .fact:hover { box-shadow: 2px 2px 3px var(--red); }	
	
.introMainSection_row .button { color: var(--green); }
	
.introMainSection_row .button:hover{
	border: 2px inset var(--green);
	background-color: var(--white)
	color: var(--red);
}
		
.footer{	
	background-color: var(--green);
	color: var(--white)
}

.monuments_food_cont a {
	color: var(--white);
	background-color: var(--green);
}

.monuments_food_cont a:hover { background-color: var(--red); }	
				
.tripMainSection .fact {
	background: linear-gradient(135deg, #e9ece7, #f4f4f2);
	border-left: 5px solid var(--white);
}
	
.tripMainSection .fact.green { border-left-color: var(--green); }
	
.tripMainSection .fact.white { border-left-color: var(--white); }
	
.tripMainSection .fact.red { border-left-color: var(--red); }
	
.tripMainSection .fact strong { color: var(--green); }
	
.tripMainSection .fact.white strong {
	color: var(--white);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 
}
	
.tripMainSection .fact.red strong { color: var(--red); }

.comment_container .comment_card {
	border: 1px solid var(--green);
	background-color: var(--white);	
}

.addCommentSection .addButton, .addCommentSection .sendButton {
	border: 2px outset var(--red);
	padding: 10px;
	background-color: var(--red);
	color: var(--white);
}
	
.addCommentSection .addButton:hover, .addCommentSection .sendButton:hover { background-color: var(--green); }

.addCommentSection .logIn { color: var(--red); }
	
.addCommentSection .logIn:hover { color: var(--green); }
	
.loginSection a {
	background-color: var(--red);
	color: var(--white);
}
	
.loginSection form {
	border: 3px outset var(--green);
	color: var(--green);
	background-color: var(--white);
}

.loginSection form input { border: 3px groove var(--green); }
	
.loginSection input[type=text]:focus, .loginSection input[type=password]:focus {
	border: 2px solid red;
	box-shadow: 5px 8px var(--green);
}
	
.loginSection .logIn{
	background-color: var(--green);
	color: var(--white);		
}
		
.signUpSection a { color: var(--green); }
	
.signUpSection a:hover { color: var(--red) }

.signUpSection form {
	border: 3px outset var(--red);
	background-color: var(--white);
	color: var(--red);
}
	
.signUpSection form input { border: 1px solid var(--green); }

.signUpSection input[type=text]:focus, .signUpSection input[type=password]:focus {
	border: 2px solid red;
	box-shadow: 5px 8px var(--red);
}

.signUpSection .signUp{
	background-color: var(--red);
	color: var(--white);
}
	
.signUpSection .spanErr{ color: var(--green); }

