:root {
	--white: #FFF;
	--blue: #005DA4;
	--red: #ED1C24;
}

body { background: linear-gradient(180deg, #f6f6f6, #b5d0ff, #ffb0b0); }
		
.header h1 { text-shadow: 2px 2px 4px var(--blue); }

.nav ul{ background-color: var(--white); }	
		
.nav li a { color: var(--blue); }
	
.nav a:hover:not(.active) {
	background-color: var(--red);
	color: var(--blue);
}	
	
.nav ul li a.active {
	background-color: var(--blue);
	color: var(--red);
}

.introduceSection {	 background-image: url("../slovenia/images_slovenia/slovenia_home.jpg"); }

.article_content .gallery img:hover { box-shadow: 2px 2px 3px var(--white); }

article.white { border: 2px solid var(--white); }

article.blue { border: 2px solid var(--blue); }

article.red { border: 2px solid var(--red); }

	
.introMainSection_column .fact {
	background: linear-gradient(180deg, #f9f9f9, #e0e0e0);
	border-left: 5px solid var(--red);
}	

.introMainSection_column .fact:hover { box-shadow: 2px 2px 3px var(--red); }
	
.introMainSection_column .button { color: var(--white); }
	
.introMainSection_column .button:hover{
	border: 2px inset var(--white);
	background-color: var(--blue);
	color: var(--red);
}

.footer{	
	background-color: var(--white);
	color: var(--blue);
}

.monuments_food_cont a {
	color: var(--white);
	background-color: var(--blue);
}

.monuments_food_cont a:hover { background-color: var(--red); }	
		
.factSection .fact { background: linear-gradient(180deg, #cce8d8, #d0f0ff); }
	
.factSection .fact.white { border-left-color: var(--white); }

.factSection .fact.blue { border-left-color: var(--blue); }

.factSection .fact.red { border-left-color: var(--red); }
	
.factSection .fact strong { color: var(--white); }
	
.factSection .fact.blue strong { color: var(--blue); }

.factSection .fact.red strong { color: var(--red); }
		
.comment_container .comment_card {
	border: 1px solid var(--blue);
	background-color: var(--white);
}

.addCommentSection .addButton, .addCommentSection .sendButton {
	border: 2px outset var(--blue);
	padding: 10px;
	background-color: var(--blue);
	color: var(--white);
}
	
.addCommentSection .addButton:hover, .addCommentSection .sendButton:hover {
	border: 2px inset var(--red);
	color: var(--red);
	background-color: var(--white);
}

.addCommentSection .logIn{ color: var(--blue); }
	
.addCommentSection .logIn:hover{ color: var(--red); }
	
.loginSection a {
	border:2px solid var(--red);
	color: var(--red);
}

.loginSection a:hover {
	background-color: var(--red);
	color: var(--white);
}
	
.loginSection form {
	border: 3px outset var(--blue);
	color: var(--blue);
}
	
.loginSection input[type=text]:focus, .loginSection input[type=password]:focus {
	border: 2px solid var(--blue);
	box-shadow: 5px 8px var(--blue);
}
	
.loginSection .logIn{
	background-color: var(--blue);
	color: var(--white);
}
		
.signUpSection a { color: var(--blue); }

.signUpSection form {
	border: 3px outset var(--red);
	color: var(--red);
}
	
.signUpSection form input { border: 1px solid var(--red); }

.signUpSection input[type=text]:focus, .signUpSection input[type=password]:focus {
	border: 2px solid var(--red);
	box-shadow: 5px 8px var(--red);
}

.signUpSection .signUp{
	background-color: var(--red);
	color: var(--white);
}
	
.signUpSection .spanErr{ color: var(--red); }

