:root {
	--white: #FFF;
	--blue: #002F6C;
	--pink: #F66;
}

body { background: linear-gradient(135deg, #cce0ff, #f0f8ff, #99badd); }
		
.header h1 { text-shadow: 2px 2px 4px  var(--blue); }

.nav ul	{ background-color: var(--blue); }	
		
.nav li a { color: var(--white); }
	
.nav a:hover:not(.active) {
	background-color: var(--white);
	color:  var(--blue);
}	
	
.nav ul li a.active {
	background-color: var(--pink);
	color:  var(--white);
}
	
.introduceSection {	 background-image: url("../finland/images_finland/finland_home2.jpg"); }	
	
.introMainSection {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 1fr 2fr;
	gap: 30px;
	margin: 20px;
}
	
.introMainSection article {
	border-radius: 15px;
	border: 2px solid;
}
	
.introMainSection h3 {
	text-align: center;
	font-family: Lucida Handwriting;
	margin-bottom: 15px;
}
	
.article_content .gallery img:hover { box-shadow: 2px 2px 3px var(--blue); }

.introMainSection .fact {
	background: linear-gradient(180deg, #f9f9f9, #e0e0e0);
	border-left: 5px solid var(--blue);	
	margin: 4px 5px;
	flex: 1;
	padding: 15px;
	border-radius: 15px;
	text-align: justify;
			
	display: flex;
	flex-direction: column;
	gap: 10px;
}	

.introMainSection .fact:hover { box-shadow: 2px 2px 3px var(--blue); }
	
.introMainSection .button { 
	color:  var(--blue); 
	border: none;
}

.introMainSection .button:hover{
	border: 2px inset  var(--blue);
	background-color: var(--white);
	color: var(--blue);
}
		
.footer{	
	background-color: var(--blue);
	color: var(--white);
}

.monuments_food_cont article {
	border: 2px solid;
	border-radius: 0;
}

.monuments_food_cont a {
	color: var(--white);
	background-color: var(--blue);
}

.monuments_food_cont a:hover {
	color: var(--blue);
	background-color: var(--white);
	border: 2px solid var(--blue);
}

.tripMainSection {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 20px;
	margin: 10px;
}

.tripMainSection article {
	border: 2px solid;
	border-radius: 0;
}

.tripMainSection h3 {
	text-align: center;
	font-family: Lucida Handwriting;
}

.tripMainSection .factSection {
	display: flex;
	flex-direction: row;
}

.tripMainSection .fact {
	flex: 1;
	background-color: #f1f1f1;
	border-left: 5px solid var(--blue);
	
	padding: 14px 18px;
	border-radius: 12px;
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 1.6;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);	
	margin: 10px;
}

.tripMainSection .fact strong { color: var(--blue); }	

article.one {border-color:  var(--white) var(--blue) var(--blue) var(--white);}

article.two {border-color:  var(--white) var(--white) var(--blue) var(--blue);}

article.three {border-color: var(--blue) var(--blue) var(--white) var(--white);}

article.four {border-color: var(--blue) var(--white) var(--white) var(--blue);}

article.five {border-color: var(--white) var(--white) var(--blue);}

article.six {border-color: var(--blue) var(--white) var(--white);}

article.seven { border-color: var(--white) var(--blue) var(--white) var(--white); }

article.eight { border-color: var(--white) var(--white) var(--white) var(--blue); }

.comment_container .comment_card { border: 1px solid var(--blue); }

.addCommentSection .addButton {
	border: 2px outset var(--blue);
	padding: 10px;
	background-color: var(--blue);
	color: var(--white);
}
	
.addCommentSection .addButton:hover {
	border: 2px inset var(--blue);
	color: var(--blue);
	background-color: var(--white);
}

.addCommentSection .logIn{ color: var(--blue); }
	
.addCommentSection .logIn:hover{ 
	border: 2px solid var(--blue);
	background-color: var(--white); 
	padding: 10px;
}

.loginSection a {
	border:2px solid var(--blue);
	color: var(--blue);
}

.loginSection a:hover {
	background-color: var(--blue);
	color: var(--white);
}
	
.loginSection form {
	border: 3px outset var(--blue);
	color: var(--blue);
}
	
.loginSection input[type=text]:focus, .loginSection input[type=password]:focus {
	border: 2px solid var(--blue);
	box-shadow: 5px 8px var(--blue);
}
	
.loginSection .logIn{
	background-color: var(--blue);
	color: var(--white);		
}

.signUpSection a { color: var(--blue); }

.signUpSection form {
	border: 3px outset var(--blue);
	color: var(--blue);
}
	
.signUpSection form input { border: 1px solid var(--blue); }

.signUpSection input[type=text]:focus, .signUpSection input[type=password]:focus {
	border: 2px solid var(--blue);
	box-shadow: 5px 8px var(--blue);
}

.signUpSection .signUp{
	background-color: var(--blue);
	border: none;
	color: var(--white);
}
	
.signUpSection .spanErr{ color: #C8102E; }

@media (max-width: 600px) {
	.introduceSection { margin: 10px auto; }
	
	.introMainSection { 
		display: flex; 
		flex-direction: column; 
	}
	.article_content { flex-direction: column; }
	
	
	.introMainSection .fact:hover { transform: scale(1.05); }
	
	.monuments_food_cont { 
		display: flex;	
		flex-direction: column;	
	}
	
	.tripMainSection { 
		display: flex;
		flex-direction: column;
	}
	
	.tripMainSection .factSection { flex-direction: column;}
	
	.loginSection form { width: 90%; }
	
	.signUpSection form {width: 90%; }

}
