:root {
	--red: #F00;
	--white: #FFF;
	--blue: #012169;
}

body { background: linear-gradient(180deg, #ffcccc, #ffffff, #cce0ff); }
		
.header h1 { text-shadow: 2px 2px 4px var(--blue); }

.nav ul{ background-color: var(--red); }	
	
.nav li a { color: var(--white); }
	
.nav a:hover:not(.active) {
	background-color: var(--blue);
	color: var(--white);
}	
	
.nav ul li a.active {
	background-color: var(--white);
	color: var(--blue);
}

.introduceSection {	background-image: url("../croatia/images_croatia/croatia_home3.jpg"); }	
	
.introduceSection p { background: rgba(0,0,0,0.5); }

.article_content .gallery img:hover { box-shadow: 2px 2px 3px var(--red); }

article.red { border: 2px solid var(--red); }

article.white { border: 2px solid var(--white); }

article.blue { border: 2px solid  var(--blue); }
	
.article_content .fact { border-left: 5px solid var(--blue); }

.introMainSection_column .fact:hover { box-shadow: 2px 2px 3px var(--blue); }	
	
.introMainSection_column .button { color: var(--red); }

.introMainSection_column .button:hover{
	border: 2px inset var(--red);
	background-color: var(--white);
	color:  var(--blue);
}
		
.footer{	
	background-color: var(--red);
	color: var(--white);
}

.monuments_food_cont a {
	color: var(--white);
	background-color: var(--red);
}

.monuments_food_cont a:hover { background-color: var(--blue); }	
	
.factSection .fact { background-color: #99d4ff; }

.factSection .fact.red { border-left-color: var(--red); }
	
.factSection .fact.white { border-left-color: var(--white); }
	
.factSection .fact.blue { border-left-color: var(--blue); }
	
.factSection .fact strong { color: var(--red); }
	
.factSection .fact.white strong { color: var(--white); }
	
.factSection .fact.blue strong { color: var(--blue); }

.comment_container .comment_card { border: 1px solid var(--red); }

.addCommentSection .addButton, .addCommentSection .sendButton {
	border: 2px outset var(--red);
	padding: 10px;
	background-color: var(--red);
	color: var(--white);
}
	
.addCommentSection .addButton:hover, .addCommentSection .sendButton:hover {
	border: 2px inset var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

.addCommentSection .logIn{ color: var(--red); }
	
.addCommentSection .logIn:hover{ color: var(--blue); }

.loginSection a {
	border:2px solid var(--blue);
	color: var(--blue);
}

.loginSection a:hover {
	background-color: var(--blue);
	color: var(--white);
}
	
.loginSection form {
	border: 3px outset #C8102E;
	color: #C8102E;
}

.loginSection input[type=text]:focus, .loginSection input[type=password]:focus {
	border: 2px solid var(--red);
	box-shadow: 5px 8px var(--red);
}
	
.loginSection .logIn{
	background-color: var(--red);
	color: var(--white);
}
	
.signUpSection a { color: var(--red); }
	
.signUpSection form {
	border: 3px outset var(--blue);
	color: var(--blue);
}
	
.signUpSection form input { border: 1px solid var(--blue); }

.signUpSection input[type=text]:focus, .signUpSection input[type=password]:focus {
	border: 2px solid var(--blue);
	box-shadow: 5px 8px var(--blue);
}

.signUpSection .signUp{
	background-color: var(--blue);
	color: var(--white);
}
	
.signUpSection .spanErr{ color: var(--red); }

