:root {
	--blue: #000091;
	--white: #FFF;
	--red: #E1000F;
}

body { background: linear-gradient(180deg, #dfe4ff, #fff0f0); }
		
.header_background { background-image: url("../france/images_france/france_flag.jpg"); }

	
.nav ul{ background-color: #000091;	}
	
.nav li a { color: #FFF; }

.nav a:hover:not(.active) {
	background-color: #E1000F;
	color: white;
}
	
.nav ul li a.active {
	background-color: #FFF;
	color: #E1000F;
}

.introduceSection {	background-image: url("../france/images_france/france_home1.jpg"); }	

.introMainSection .gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 170px;
	gap: 5px;
}

.introMainSection .gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}	

.introMainSection_row .gallery img:hover { box-shadow: 2px 2px 3px #000091; }

article.blue { border: 2px solid #000091; }

article.white { border: 2px solid #FFF; }

article.red { border: 2px solid #E1000F; }

.introMainSection_row .fact {	
	border-left: 5px solid #E1000F;
	margin: 5px;
	padding: 1px 5px;
}

.introMainSection_row .fact:hover { box-shadow: 2px 2px 3px #E1000F; }


.introMainSection_row .button { color: #000091; }
	
.introMainSection_row .button:hover{
	width: 30%;
	border: 2px inset #000091;
	background-color: #FFF;
	color:  #E1000F;
	padding: 5px;
}
			
.footer{	
	background-color: #000091;
	color: #FFF;
}	

.monuments_food_cont a {
	color: var(--white);
	background-color: var(--blue);
}

.monuments_food_cont a:hover { background-color: var(--red); }	

.tripMainSection {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 10px;
}
	
.tripMainSection .fact.blue { border-left-color: #000091; }
	
.tripMainSection .fact.white {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25); 
	border-left-color: #FFF;
}

.tripMainSection .fact.red { border-left-color: #E1000F; }
	
.tripMainSection .fact strong { color: #000091; }

.tripMainSection .fact.white strong { color: #FFF; }

.tripMainSection .fact.red strong { color: #E1000F; }

.comment_container .comment_card { border: 1px solid #000091; }

.addCommentSection .addButton, .addCommentSection .sendButton {
	border: 2px outset #E1000F;
	padding: 10px;
	background-color: #E1000F;
	color: #FFF;
}
	
.addCommentSection .addButton:hover, .addCommentSection .sendButton:hover {
	border: none;
	background-color: #000091;
}

.addCommentSection .logIn{ color: #E1000F; }
	
.addCommentSection .logIn:hover{ color: #000091; }

.loginSection a {
	background-color: #E1000F;
	color: #FFF;
}

.loginSection a:hover {
	transform: scaleX(1.1);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
	
.loginSection form {
	border-color: #000091;
	color: #000091;
}

.loginSection input[type=text]:focus, .loginSection input[type=password]:focus {
	border: 2px solid red;
	box-shadow: 5px 8px #000091;
}
	
.loginSection .logIn{ background-color: #000091; }
	
.signUpSection a { color: #000091; }
	
.signUpSection a:hover { color: #E1000F; }

.signUpSection form {
	border-color: #E1000F;
	color: #E1000F;
}
	
.signUpSection form input { border: 1px solid #000091; }

.signUpSection input[type=text]:focus, .signUpSection input[type=password]:focus {
	border: 2px solid red;
	box-shadow: 5px 8px #E1000F;
}

.signUpSection .signUp{
	background-color: #E1000F;
	color: white;
}
	
.signUpSection .spanErr{ color: #000091; }

